# Игнорируем виртуальное окружение
venv/

# Игнорируем скомпилированные Python-файлы
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы конфигурации для IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Игнорируем логи и временные файлы
*.log
*.tmp

# Игнорируем файлы окружения и системные файлы
.env
.DS_Store

# Игнорируем данные, если они не нужны в репозитории
data/

# Игнорируем скрытые системные файлы
.*.swp
*.bak
